:root {
  --bg1: #323232;
  --bg2: #252525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: consolas;
  font-size: large;
  display: block;
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

i {
  margin: 0 5px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.highlight {
  color: blueviolet;
}

.pointer {
  cursor: pointer;
}

.link {
  color: #fff;
  position: relative;
}

.link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: blueviolet;
  transition: all 0.3s ease-in-out;
}

.link:hover::before {
  width: 100%;
}

.btn {
  color: #fff;
  background: blueviolet;
  border-radius: 3px;
}

.btn__lg {
  padding: 10px 30px;
}

.btn__md {
  padding: 5px 15px;
}

a {
  color: #fff;
}

h1 {
  font-size: 2.8rem;
  font-weight: 600;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
}
h3 {
  font-size: 1.9rem;
  font-weight: 500;
}
h4 {
  font-size: 1.4rem;
  font-weight: 400;
}
p {
  font-size: 1.1rem;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
}

body {
  color: #fff;
}

/* -----header----- */
.wrapper {
  /* background-color: #1b262c; */
  background-color: var(--bg1);
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 0 2rem;
}

#menu-open {
  font-size: 1.3rem;
  cursor: pointer;
}

.mobile__links {
  position: absolute;
  width: 60%;
  border-radius: 5px;
  left: 50%;
  top: 15vh;
  transform: translateX(-50%);
  z-index: 10;
  background-color: var(--bg2);
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
}

.mobile__links ul {
  text-align: center;
}

.mobile__links ul li {
  margin: 1rem 0;
}

#menu-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.hide-lg {
  display: none;
}

@media only screen and (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  #menu-open {
    display: block;
  }
}

/* ----introduction----- */
.intro {
  height: 90vh;
  width: 50%;
  margin: 0 auto;
  padding-top: 20vh;
  text-align: center;
}

@media only screen and (max-width: 1047px) {
  .intro {
    width: 95%;
  }
}

.intro h1 {
  margin-bottom: 2rem;
}

/* -----about----- */

.about {
  background-color: var(--bg2);
  text-align: center;
  padding: 5rem 0;
}

.about h1,
h4 {
  line-height: 2;
}

.about__container {
  margin-bottom: 2.5rem;
}

.about__container p {
  text-align: left;
}

.skills span {
  display: inline-block;
  margin: 0.5rem 1rem;
}

/* --------work--------- && -----------blog----------- */

.work,
.blog {
  padding: 5rem 0;
}

.work {
  background-color: var(--bg1);
}

.blog {
  background-color: var(--bg2);
}

.work h2,
.blog h2 {
  text-align: center;
  margin-bottom: 2.5rem;
}

.lang {
  margin-bottom: 10px;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.card__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.work .card,
.work .view__all {
  background-color: var(--bg2);
}

.blog .card,
.blog .view__all {
  background-color: var(--bg1);
}

.card,
.view__all {
  padding: 1rem 2rem;
  border-radius: 5px;
}

.view__all {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-transform: lowercase;
}

.view__all i {
  color: blueviolet;
}

.card__links a {
  display: inline-block;
  margin: 1rem;
  margin-left: 0;
}

.blog__type {
  border-bottom: 2px blueviolet solid;
  display: inline-block;
}

@media only screen and (max-width: 1150px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 760px) {
  .card__container {
    grid-template-columns: 1fr;
  }
}

/* ------footer--------- */

footer,
footer a {
  color: #333;
}

footer {
  text-align: center;
  padding: 3rem 0;
}

footer p {
  margin: 1rem 0;
}

footer .social a i {
  margin: 0 1rem;
  font-size: 2rem;
}

.copyright {
  background: rgb(194, 194, 194);
  text-align: center;
}
